/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --text-color: #000;
  --page-background-color: #fff;
  --button-text-color: #fff;

  --like-body-color: none;
  --like-shape-color: var(--text-color, #000);
  --like-splashes-color: #ff0000;

  --page-main-font-family: "Inter", sans-serif;
  --page-accent-font-family: "PressStart2P", fantasy;
  --page-main-font-weight: 400;
  --headings-font-weight: 700;

  --page-background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
